/** Filtering Students Page styles **/

.filter-students-page {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.filter-students-header {
  color: #6419f0;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.filter-students-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 65%;
  max-height: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
}

.select-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 50px;
  margin-bottom: 5vh;
  justify-content: center;
  align-content: center;
}

.select-label {
  font-weight: bold;
  font-size: 20px;
}

.filter-select {
  font-size: 15px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.filter-table {
  border-collapse: collapse;
  font-size: 16px;
  width: 80%;
  margin: 0 auto 3vh auto;
}

.filter-table th {
  background-color: #6419f0;
  color: #fff;
  font-weight: 600;
  text-align: left;
  padding: 12px 20px;
}

.filter-table td {
  border: 1px solid #ddd;
  padding: 12px 20px;
  color: #333;
}

.filter-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.filter-table tr:hover {
  background-color: #e0d4f7;
}

.message-text {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .filter-students-card {
    width: 95%;
  }

  .filter-table {
    width: 100%;
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .filter-table {
    width: 100%;
    font-size: 14px;
  }

  .filter-table th,
  .filter-table td {
    padding: 10px;
  }

  .select-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .filter-table {
    width: 100%;
    font-size: 12px;
  }

  .filter-table th,
  .filter-table td {
    padding: 6px;
    font-size: 12px;
  }

  .filter-students-header {
    font-size: 26px;
  }
}
